<!-- entrega_suprimento.html -->
{% extends 'index.html' %}

{% block content %}


<div class="container mt-5">
    <h2 class="text-center">Cadastro de Entrega de Suprimento</h2>
{% if erro %}
    <div class="alert alert-danger mt-3">
        <ul class="mb-0">
            {% for msg in erro %}
                <li>{{ msg }}</li>
            {% endfor %}
        </ul>
    </div>
{% elif mensagem %}
    <div class="alert alert-success mt-3">
        <ul class="mb-0">
            {% for msg in mensagem %}
                <li>{{ msg }}</li>
            {% endfor %}
        </ul>
    </div>
{% endif %}

    <form method="POST" id="myForm">
        {% csrf_token %}

        <div class="form-group">
        <label for="form_projeto">Projeto</label>
        <select name="form_projeto" id="mycombo" class="form-control">
            <option value="">Selecione um Projeto</option>
            {% for projeto in form_projeto %}
                <option value="{{ projeto.id }}">{{ projeto.nome }}</option>
            {% endfor %}
        </select>
        </div>

        <div class="text-center mt-3">
            <input name="save_projeto" type="hidden" value="">
        </div>
        </form>



            <div class="form-row d-flex align-items-end">
            <div class="form-group col-md-9">  <!-- 75% -->
    <label for="id_unidade">Unidade</label>
    <input type="text" name="unidade" id="id_unidade" class="form-control" list="unidadeList" placeholder="Digite ou selecione a unidade">
    <datalist id="unidadeList">
        {% for unidade in unidades %}
            <option value="{{ unidade.nome }}">
        {% endfor %}
    </datalist>
</div>

            <div class="form-group col-md-3">  <!-- 25% -->
                <label for="{{ form.data.id_for_label }}">Data</label>
                {{ form.data }}
            </div>

</div>


</div>

     <div class="container mt-5">

    <div class="text-end mb-2">
        <button id="addRow" class="btn btn-primary">+</button>
    </div>
    <div class="table-responsive">
        <table id="dataGrid" class="table table-striped table-bordered rounded-3 overflow-hidden">
            <thead class="table-dark">
                <tr>
                    <th>Toner</th>
                    <th>Quantidade</th>
                    <th>Setor</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td><input type="text" class="form-control toner-input" placeholder="Toner" list="tonerList"></td>
                    <td><input type="number" class="form-control" placeholder="Quantidade"></td>
                    <td><input type="text" class="form-control" placeholder="Setor"></td>
                </tr>
            </tbody>
        </table>
        <datalist id="tonerList">
            {{% for suprimento in suprimentos %}
                <option value="{{ suprimento.nome }}">
            {% endfor %}
        </datalist>
    </div>
</div>

<div class="text-center mt-3">
                <input id="saveData" name="save_entrega" type="submit" class="btn btn-primary" value="Salvar"></input>
            </div>

<script>


    $(document).ready(function() {

       $('#mycombo').on('change', function() {
    var projetoId = $(this).val();

    if (projetoId) {
        // Preencher o campo "save_projeto" automaticamente
        $('input[name="save_projeto"]').val('Selecionar');

        // Submete o formulário automaticamente
        $('form').submit();
    }
});

        const table = $('#dataGrid').DataTable({
            "language": {
                "url": "https://cdn.datatables.net/plug-ins/1.13.6/i18n/pt-BR.json"
            },
            "info": false,
            "lengthChange": false,
            "paging": false,
            "searching": false
        });

        $('#addRow').on('click', function() {
            table.row.add([
                '<input type="text" class="form-control toner-input" placeholder="Toner" list="tonerList">',
                '<input type="number" class="form-control" placeholder="Quantidade">',
                '<input type="text" class="form-control" placeholder="Setor">'
            ]).draw();
        });

        $('#saveData').on('click', function(event) {
            event.preventDefault(); // Impede o envio tradicional do formulário

            let data = [];
            $('#dataGrid tbody tr').each(function() {
                let toner = $(this).find("td:eq(0) input").val();
                let quantidade = $(this).find("td:eq(1) input").val();
                let setor = $(this).find("td:eq(2) input").val();


                data.push({
                    toner: toner,
                    quantidade: quantidade,
                    setor: setor
                });

            });



            let formData = {
                unidade : $('#id_unidade').val(),
                date : $('#id_data').val(),
                registros: data
            };

            console.log("Enviando dados:", formData);



            $.ajax({
    url: "{% url 'entrega_suprimento' %}",
    method: "POST",
    data: JSON.stringify(formData),
    contentType: "application/json",
    headers: { "X-CSRFToken": "{{ csrf_token }}" },
    success: function(responseHtml) {
        // Substitui o corpo da página pelo HTML renderizado
        document.open();
        document.write(responseHtml);
        document.close();
    },
    error: function(xhr) {
        // Também renderiza erro HTML se vier como resposta
        document.open();
        document.write(xhr.responseText);
        document.close();
    }
});
        });
    });
</script>

{% endblock %}









